@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
body {
  margin: 0;
  font-family: Pretendard, Apple SD Gothic Neo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Pretendard, Apple SD Gothic Neo, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 13px;
  letter-spacing: -0.5px;
}

html, body {
  height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, td, th, article, aside, canvas, details, embed, figure, figcaption, #footer, #header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, #footer, #header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  color: #333;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #333;
}

input[type=text] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

button {
  all: unset;
}

address {
  font-style: normal;
}

#header {
  border-bottom: 1px solid #e0e0e0;
}
#header .menu-home {
  position: fixed;
  top: 0;
  left: auto;
  left: -100vw;
  width: 100vw;
  height: 100%;
  max-height: 100vh;
  background-color: #fff;
  z-index: 5;
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}
#header .menu-home.show {
  left: 0;
  transition: left 0.3s ease-out;
}
#header .menu-home .tab-close {
  position: absolute;
  right: 0;
  top: 0;
  height: 55px;
  line-height: 55px;
  padding: 0 4%;
  box-sizing: border-box;
  color: #fff;
}
#header .menu-top {
  background-color: #ef891e;
  padding: 2% 3%;
  box-sizing: border-box;
  position: relative;
}
#header .menu-top img {
  width: 95px;
  height: auto;
}
#header .menu-top .srch-wrap {
  position: relative;
  margin-top: -10px;
}
#header .menu-top #srch-form {
  border: 1px solid #e0e0e0;
  width: 100%;
  height: 45px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 15px;
}
#header .menu-top #srch-btn {
  position: absolute;
  top: 7px;
  right: 0;
  padding: 0 3%;
  height: 45px;
  line-height: 45px;
}
#header .menu-top .recommend {
  height: 30px;
  line-height: 30px;
}
#header .menu-top .recommend a {
  display: inline-block;
  color: #fff;
  font-size: 0.9em;
  margin-right: 3%;
}
#header .menu-bottom {
  position: relative;
}
#header .menu-bottom > div {
  display: flex;
}
#header .menu-bottom > div.on p, #header .menu-bottom > div.on .priceWrap span, .priceWrap #header .menu-bottom > div.on span {
  background: #fff;
}
#header .menu-bottom > div.on p i, #header .menu-bottom > div.on .priceWrap span i, .priceWrap #header .menu-bottom > div.on span i {
  display: none;
}
#header .menu-bottom > div:not(.water) .sub-menu {
  display: none;
}
#header .menu-bottom .sub-menu {
  width: 73%;
  position: absolute;
  top: 0;
  left: 28%;
}
#header .menu-bottom .sub-menu a {
  display: block;
  margin: 0 20px;
  padding-left: 20px;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 0.95em;
}
#header .menu-bottom p, #header .menu-bottom .priceWrap span, .priceWrap #header .menu-bottom span {
  display: inline-block;
  font-size: 0.95em;
  padding-left: 3.5%;
  background-color: #f2f2f2;
  width: 25%;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
}
#header .menu-bottom p i, #header .menu-bottom .priceWrap span i, .priceWrap #header .menu-bottom span i {
  float: right;
  line-height: 45px;
  margin-right: 10px;
}
#header .menu-list {
  position: absolute;
  left: 0;
  padding: 0 3%;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  cursor: pointer;
}
#header .menu-list > img {
  width: 30px;
  padding: 20px 0;
  vertical-align: middle;
}
#header .direct-number {
  color: #ef891e;
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 40%;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
}
#header .logo {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  box-sizing: border-box;
  line-height: 60px;
  padding: 0 3%;
}
#header .logo a {
  display: block;
}
#header .logo img {
  width: 100px;
  vertical-align: middle;
}
#header .fixed-menu {
  display: none;
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  z-index: 3;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 5px 5px 10px 0px rgba(42, 42, 42, 0.18);
}
#header .fixed-menu.fixed {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header .fixed-menu .swiper-wrapper {
  gap: 10px;
  justify-content: space-between;
}
#header .fixed-menu li {
  width: auto;
}
#header .fixed-menu li a {
  display: block;
  width: 85px;
  text-align: center;
  height: 45px;
  line-height: 45px;
}
#header .fixed-menu .none {
  color: #e0e0e0;
}

#footer {
  background: #ddd;
  text-align: center;
  color: #5b5b5b;
  font-size: 0.9em;
  padding: 0 0 35px;
}
#footer .inner {
  max-width: 720px;
  margin: 0 auto;
}
#footer .grid-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #ddd;
  border-width: 1px 0;
}
#footer .grid-menu li {
  border: 1px solid #ddd;
  border-width: 0 1px 1px 0;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  color: #e0e0e0;
}
#footer .grid-menu li a {
  display: block;
}
#footer .link-list {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  height: 50px;
  align-items: center;
}
#footer .link-list li {
  text-align: center;
}
#footer .link-list li:not(:last-child)::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 1px;
  background: #333;
  margin: 0 10px;
}
#footer address {
  padding: 0 3%;
}
#footer address p, #footer address .priceWrap span, .priceWrap #footer address span {
  line-height: 18px;
  font-size: 14px;
  word-break: keep-all;
}

#footer #footer .b_btn #footer ul li {
  display: inline-block;
}

#footer .btn {
  padding: 15px 0;
}

#footer .btn li {
  padding: 0 10px 0 0;
}

#footer .btn img {
  width: 78px;
}

#footer .list {
  padding: 0 0 10px 0;
}

#footer .list li {
  position: relative;
  padding: 0 20px;
}

#footer .list li a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 2px;
  height: 12px;
  background: #44464a;
}

#footer .list li:first-child a::after {
  display: none;
}

#footer .address p, #footer .address .priceWrap span, .priceWrap #footer .address span {
  line-height: 18px;
  letter-spacing: -1px;
  font-size: 0.9em;
}

#main .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}
#main .swiper-pagination-bullet-active {
  background: #ef891e;
  opacity: 0.8;
  width: 20px;
  border-radius: 10px;
}
#main .cell img {
  width: 100%;
  object-fit: cover;
}

.hidden {
  overflow-y: hidden;
}

h2 {
  text-align: center;
  font-size: 1.8em;
}

.intro {
  text-align: center;
  font-size: 1.2em;
  line-height: 28px;
}

.category {
  color: #fff;
  font-weight: 600;
  width: 80px;
  padding: 5px 0;
  font-size: 0.95em;
  border-radius: 5px;
  display: block;
  margin: 0 auto 12px;
  text-align: center;
}

.desc {
  font-size: 1em;
  line-height: 17px;
  height: 34px;
  word-break: keep-all;
}

.productText {
  background-color: #fff;
  padding: 5%;
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.25em;
  line-height: 25px;
  padding: 5px 0 3px;
}

.code {
  color: #999;
}

.state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.state strong {
  background-color: #34b0dd;
  color: #fff;
  display: inline-block;
  padding: 5px 0;
  font-size: 0.95em;
}
.state strong:first-child {
  border-top-left-radius: 5px;
}
.state strong:last-child {
  border-bottom-right-radius: 5px;
}

.priceWrap {
  overflow: hidden;
  margin-top: 8px;
}
.priceWrap li {
  margin-bottom: 8px;
}
.priceWrap p, .priceWrap span {
  display: inline-block;
  font-size: 1.1em;
}
.priceWrap span {
  float: right;
}
.priceWrap span.rentalPrice {
  color: #34b0dd;
  font-weight: 600;
}

#main {
  max-width: 720px;
  margin: 0 auto;
}

.box-visual {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0 50px;
  padding: 0 3%;
}
.box-visual .main-swiper {
  background: transparent;
  z-index: inherit;
}
.box-visual .main-swiper .swiper-pagination {
  bottom: 20px;
  z-index: 2;
}
.box-visual img {
  width: 100%;
  height: auto;
}
.box-visual div[class*=care] a {
  display: block;
}
.box-visual .visual-left {
  width: 74%;
}
.box-visual .visual-left .care-wrap {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}
.box-visual .visual-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.best-product {
  margin: 20px 0;
  padding: 0 3%;
}
.best-product h2 {
  color: #ef891e;
}
.best-product .intro {
  text-align: center;
  font-size: 1.2em;
  line-height: 28px;
}
.best-product .category-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
  margin: 30px 0;
}
.best-product .category-menu li {
  width: 65px;
  padding: 0 2%;
  cursor: pointer;
}
.best-product .category-menu li.on i {
  background-color: #ef891e;
  color: #fff;
}
.best-product .category-menu li.on p, .best-product .category-menu li.on .priceWrap span, .priceWrap .best-product .category-menu li.on span {
  color: #ef891e;
}
.best-product .category-menu li i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #f0f0f0;
  color: #505050;
  border-radius: 50%;
}
.best-product .category-menu li p, .best-product .category-menu li .priceWrap span, .priceWrap .best-product .category-menu li span {
  color: #5e5e5e;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 23px;
  margin-top: 5px;
}
.best-product .product {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.best-product .product .cell {
  flex: 1 1 40%;
  text-align: center;
  position: relative;
  padding-bottom: 26%;
}
.best-product .product .cell a {
  display: block;
}
.best-product .product .cell .productText {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.best-product .product .cell .desc {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.best-product .product.tab1 .cell {
  background-color: #d5e2ea;
}
.best-product .product.tab2 .cell {
  background-color: #e2e5dc;
}
.best-product .product.tab3 .cell {
  background-color: #e9e0db;
}
.best-product .product.tab4 .cell {
  background-color: #e6e6e3;
}

.event-wrap {
  margin: 80px 0 30px;
  padding: 0 3%;
}
.event-wrap h2 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 30px;
}
.event-wrap img {
  width: 100%;
  height: auto;
}
.event-wrap > div {
  margin-bottom: 15px;
  position: relative;
}
.event-wrap > div:last-child {
  margin-bottom: 0;
}
.event-wrap dl {
  position: absolute;
  top: 0;
  padding: 6% 5%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.event-wrap dl dt {
  color: #ef891e;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
}
.event-wrap dl dd:not(:last-child) {
  color: #ef891e;
  font-size: 1.2em;
}
.event-wrap dl dd:last-child {
  font-weight: 600;
  font-size: 1.3em;
  margin-top: 5px;
}

.advice-wrap {
  background-image: url("../images/advice_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 36.43%;
  position: relative;
}
.advice-wrap .consulting {
  position: absolute;
  top: 25%;
  right: 0;
  width: 62%;
  text-align: center;
  font-size: 1.3em;
}
.advice-wrap .consulting p, .advice-wrap .consulting .priceWrap span, .priceWrap .advice-wrap .consulting span {
  font-size: 0.9em;
  line-height: 20px;
  margin: 5px 0;
  color: #000;
}
.advice-wrap .consulting strong {
  color: #ef891e;
}
.advice-wrap .consulting a {
  display: inline-block;
  font-size: 0.8em;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 3px;
  vertical-align: baseline;
}

/*# sourceMappingURL=main.css.map */
